@mixin srOnly(
    
        $position: absolute,
        $width: 1px,
        $height: 1px,
        $padding: 0,
        $margin: -1px,
        $overflow: hidden,
        $clip: rect(0, 0, 0, 0),
        $white-space: nowrap,
        $border: 0
      
){
    position: $position;
    width: $width;
    height: $height;
    padding: $padding;
    margin: $margin;
    overflow: $overflow;
    clip: $clip;
    white-space: $white-space;
    border: $border;
}