@import "../styles/variables";
@import "../styles//mixins";

form {
  padding: 1rem 2rem;
  background-color: $black;
  color: $white;
  fieldset {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 1rem;
    legend {
      font-size: 1.5em;
      color: $new-blue;
    }
    button {
        @include buttonLayout;
        &:hover{@include Hover;}
        &:active{@include Active}
    }
input {
  width: fit-content;
  padding: 4px 8px;
  border: 3px solid $new-blue;
   border-radius: 4px;
   outline: none;
}

label {
  justify-self:self-start;
}
    .other {
        display: flex;
        flex-direction: column;
        textarea{
          border: 3px solid $new-blue;
          border-radius: 8px;
        }
    }
  }
}
